<div class="discord-embed">
    <div class="discord-embed-side" style="background: #90EE90"></div>
    <div class="discord-embed-card">
        <div class="discord-embed-card-author">
            <img src="https://ubisoft-avatars.akamaized.net/14c01250-ef26-4a32-92ba-e04aa557d619/default_256_256.png" alt="steam logo"/>
            <div>PaPa.Curry</div>
        </div>
        <span class="discord-embed-card-title">Dragon6 Admin</span>
        <div class="discord-embed-card-fields">
            <div class="discord-embed-card-field">
                <div>Last Seen</div>
                <div>5 minutes ago</div>
            </div>
            <div class="discord-embed-card-field">
                <div>Session Count</div>
                <div><strong>1,600</strong> Sessions<br/>Since October 14, 2017</div>
            </div>
        </div>
    </div>
</div>