<div class="discord-embed">
    <div class="discord-embed-side" style="background: #1374a7"></div>
    <div class="discord-embed-card">
        <div class="discord-embed-card-author">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Steam_icon_logo.svg" alt="steam logo"/>
            <div>Steam</div>
        </div>
        <span class="discord-embed-card-title">Player Count</span>
        <span>There are <strong>50,000</strong> people currently in-game!</span>
        <span class="discord-embed-card-footer">Data represents players currently playing Rainbow Six | Siege on Steam.</span>
    </div>
</div>