# Database (Required)
DATABASE_URL="mysql://root:dragonfruitnet@localhost:3306/dragonfruit"

# Auth Secret (Required - generate using `npx auth secret`)
AUTH_SECRET=""

# OAuth2 Providers
AUTH_HINA_ID=""
AUTH_HINA_SECRET=""

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
