# Database (Required)
DATABASE_URL="mysql://root:dragonfruitnet@localhost:3306/dragonfruit"

# Auth Secret (Required - can be generated using `npx auth secret`)
AUTH_URL="http://localhost:3000"
AUTH_SECRET="b23807f73862d12a470f28188170b215db29bdbe9036a89c1e9b9dddaed6bacc"

# OAuth2 Providers
AUTH_GOOGLE_ID="957144994330-65gikgd0r6jkslpfuu4nm3hml4ue16kc.apps.googleusercontent.com"
AUTH_GOOGLE_SECRET=""