@page "/onionfruit"

<PageTitle>OnionFruit&trade; Connect &middot; DragonFruit Network</PageTitle>
<HeadContent>
    <meta property="og:title" content="OnionFruit™ Connect by DragonFruit Network"/>
    <meta property="og:description" content="OnionFruit™ Connect: A free Tor access gateway"/>
    <meta name="keywords" content="Tor, Onion, Onionfruit, onion fruit, onionfruit connect, onion buddy, dragonfruit onionfruit"/>
</HeadContent>

<div class="d-flex flex-column align-items-center justify-content-center" style="height: calc(100vh - 72px)">
    <MudSpacer/>

    <MudImage Fluid="true" Src="/assets/onionfruit-ui.png" Alt="OnionFruit&trade; Connect - UI"/>

    @* title *@
    <div class="pt-5 d-flex flex-column align-items-center justify-content-center">
        <SakuraSubheading Text="OnionFruit&trade; Connect" Colour="#673ab7">
            <IconHtml>
                <MudIcon Icon="@Icons.Rounded.WifiLock"/>
            </IconHtml>
        </SakuraSubheading>
        <MudText Typo="Typo.h4">Connect to Tor in seconds</MudText>
        <MudText>Free and no-fuss Tor&reg; access client</MudText>
    </div>

    @* download and guides *@
    <div class="d-flex flex-wrap pt-3" style="gap:0.5rem">
        <MudButton Color="Color.Success"
                   Variant="Variant.Text"
                   Class="flex-shrink-0"
                   StartIcon="fa-solid fa-file-arrow-down"
                   Href="https://github.com/dragonfruitnetwork/onionfruit/releases/latest/download/install.exe">
            Download Latest Version
        </MudButton>
        <MudButton Color="Color.Info"
                   Variant="Variant.Text"
                   Class="flex-shrink-0"
                   StartIcon="fa-solid fa-leaf"
                   Href="https://github.com/dragonfruitnetwork/onionfruit/wiki/Getting-Started">
            View Getting Started Guide
        </MudButton>
    </div>

    <MudSpacer/>

    <PageHeader Title="OnionFruit&trade;">
        <MudButton Variant="Variant.Text">Countries</MudButton>
        <MudButton Variant="Variant.Text">Bridges</MudButton>
        <MudButton Variant="Variant.Text">API</MudButton>
    </PageHeader>
</div>