@page "/onionfruit"

<PageTitle>OnionFruit&trade; Connect &middot; DragonFruit Network</PageTitle>
<HeadContent>
    <meta property="og:title" content="OnionFruit™ Connect by DragonFruit Network"/>
    <meta property="og:description" content="OnionFruit™ Connect: A free Tor access gateway"/>
    <meta name="keywords" content="Tor, Onion, Onionfruit, onion fruit, onionfruit connect, onion buddy, dragonfruit onionfruit"/>
</HeadContent>

<div class="d-flex flex-column align-items-center justify-content-center" style="height: calc(100vh - 72px)">
    <MudSpacer/>

    <MudImage Fluid="true" Src="/assets/onionfruit-ui.png" Alt="OnionFruit&trade; Connect - UI"/>

    @* title *@
    <div class="pt-5 d-flex flex-column align-items-center justify-content-center">
        <SakuraSubheading Text="OnionFruit&trade; Connect" Colour="#673ab7">
            <IconHtml>
                <MudIcon Icon="@Icons.Rounded.WifiLock"/>
            </IconHtml>
        </SakuraSubheading>
        <MudText Typo="Typo.h4">Connect to Tor in seconds</MudText>
        <MudText>Free and no-fuss Tor&reg; access client</MudText>
    </div>

    @* download and guides *@
    <div class="d-flex flex-wrap pt-3" style="gap:0.5rem">
        <MudButton Color="Color.Success"
                   Variant="Variant.Text"
                   Class="flex-shrink-0"
                   StartIcon="fa-solid fa-file-arrow-down"
                   Href="https://github.com/dragonfruitnetwork/onionfruit/releases/latest/download/install.exe">
            Download Latest Version
        </MudButton>
        <MudButton Color="Color.Info"
                   Variant="Variant.Text"
                   Class="flex-shrink-0"
                   StartIcon="fa-solid fa-leaf"
                   Href="https://github.com/dragonfruitnetwork/onionfruit/wiki/Getting-Started">
            View Getting Started Guide
        </MudButton>
    </div>

    <MudSpacer/>

    <PageHeader Title="OnionFruit&trade;">
        <MudButton Variant="Variant.Text">Countries</MudButton>
        <MudButton Variant="Variant.Text">API</MudButton>
    </PageHeader>
</div>

<MudPaper Elevation="0">

    @* primary feature *@
    <MudContainer MaxWidth="MaxWidth.Large" Class="py-5">
        <SakuraProductFeature Colour="#dc3545"
                              SectionTitle="Countries"
                              Title="Choose the country you want"
                              SectionIcon="fa-solid fa-earth-americas">
            <MudText>
                OnionFruit™ maintains an open source database and API to find high-speed servers to route your encrypted traffic through.
                You can choose from over 7,000 servers in 75+ countries to have your data directed through before you connect, or let Tor® decide for you with the random option.
            </MudText>
        </SakuraProductFeature>
    </MudContainer>

    @* other features *@
    <MudContainer MaxWidth="MaxWidth.Large" Class="pt-4 pb-5">
        <MudGrid>
            <MudItem xs="12" lg="6">
                <SakuraSubheading Text="SecurDNS" Icon="fa-solid fa-book-atlas" Colour="#4c6ef5"/>
                <MudText Typo="Typo.h5">Protect against DNS leaks</MudText>
                <MudText Class="pt-2">
                    SecurDNS helps to stop ISPs from learning about your browsing history by changing your DNS servers to faster, anonymous ones.
                    Some operating systems can also route DNS via Tor&reg;, allowing access to <code>.onion</code> sites
                </MudText>
            </MudItem>

            <MudItem xs="12" lg="6">
                <SakuraSubheading Text="Bridges" Icon="fa-solid fa-location-arrow" Colour="#ff8f00"/>
                <MudText Typo="Typo.h5">Need a bridge to connect? No problem</MudText>
                <MudText Class="pt-2">
                    OnionFruit&trade; comes with built in support for plain, obfs4, meek and snowflake bridges as standard.
                </MudText>
            </MudItem>

            <MudItem xs="12" lg="6">
                <SakuraSubheading Text="Discord" Icon="fa-brands fa-discord" Colour="#5865f2"/>
                <MudText Typo="Typo.h5">Looks like there's a new game in town...</MudText>
                <MudText Class="pt-2">
                    OnionFruit&trade; integrates itself with Discord to provide you a first-class experience when exploring different places.
                </MudText>
            </MudItem>

            <MudItem xs="12" lg="6">
                <SakuraSubheading Text="Tor Control" Icon="fa-solid fa-satellite-dish" Colour="#9c27b0"/>
                <MudText Typo="Typo.h5">Communicate directly with the Tor Process</MudText>
                <MudText Class="pt-2">
                    During active connection time, OnionFruit&trade; provides a direct connection to the Tor process to allow advanced users to execute commands directly.
                </MudText>
            </MudItem>
        </MudGrid>
    </MudContainer>
</MudPaper>