<footer class="pt-3 pb-4 d-flex">
    <span class="text-muted mx-auto">
        &copy; DragonFruit Network @DateTime.UtcNow.Year &middot; <a href="https://github.com/dragonfruitnetwork/website" style="color: inherit" target="_blank">View on GitHub</a>
    </span>
</footer>